@import '../../token/color.scss';

.container {
    overflow: auto;
    overflow-x: auto;
    overflow-y: 'auto';
    scrollbar-width: thin;
    scrollbar-color: $grey-6 #fbfbfb;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        border-radius: 25px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey-6;
        border-radius: 25px;
        height: 6px;

        &:hover {
            background-color: $grey-4;
        }
    }
}
